@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 14% 98%;
    --foreground: 239 27% 14%;
    --card: 0 0% 100%;
    --card-foreground: 239 27% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 239 27% 14%;
    --primary: 223 64% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 95%;
    --secondary-foreground: 239 27% 14%;
    --muted: 210 20% 95%;
    --muted-foreground: 235 12% 42%;
    --accent: 159 47% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 223 64% 33%;
    --radius: 0.625rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  html {
    @apply font-sans;
  }
}